// Breakpoints
@widescreen-md: 1600px;
@widescreen: 1366px;
@desktop: 1024px;
@tablet: 768px;
@mobile: 480px;
@mobile-sm: 320px;


// colors

@white: #ffffff;
@beige: #fafafa;
@gray: #777777;
@gray-1: #ebebeb;
@gray-2: #e1e1e1;
@gray-3: #9c9c9c;
@gray-4: #444444;
@gray-5: #959595;
@gray-6: #cccccc;
@gray-7: #9a9a9a;
@black: #000000;



// heading
@heading-font: @base-font;
@heading-font-weight: 300;


// Base
@base-font: "Roboto", Arial, Helvetica, sans-serif;
@secondary-font: "Lato", Arial, Helvetica, sans-serif;

@container-width: 1180px;

@font-size-base: 14px;
@animation-speed: 0.3s;

// Media queries breakpoints
// @screen-xs and @screen-xs-min is not used in Grid
// smallest break point is @screen-md
@screen-xs: @mobile-sm;
@screen-xs-min: @screen-xs;
// 👆 Extra small screen / phone

// 👇 Small screen / tablet
@screen-sm: @mobile;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: @tablet;
@screen-md-min: @screen-md;

// Large screen / wide desktop
@screen-lg: @desktop;
@screen-lg-min: @screen-lg;

// Extra large screen / full hd
@screen-xl: @widescreen;
@screen-xl-min: @screen-xl;

// Extra extra large screen / large desktop
@screen-xxl: @widescreen-md;
@screen-xxl-min: @screen-xxl;

// Background color for `<body>`
@body-background: @beige;
@component-background: @beige;
// Popover background color
@font-family: @base-font;
@code-family: @secondary-font;
@text-color: @gray;
@text-color-secondary: @black;
@text-color-inverse: @white;
@heading-color: @black;
@heading-1-size: ceil(@font-size-base * 2.14);
@heading-2-size: ceil(@font-size-base * 2.14);
@heading-3-size: ceil(@font-size-base * 1.71);
@heading-4-size: ceil(@font-size-base * 1.42);
@heading-5-size: ceil(@font-size-base * 1.28);

@line-height-base: 1.2;
@border-radius-base: 2px;
@border-radius-sm: @border-radius-base;

// vertical paddings
@padding-lg: 24px; // containers
@padding-md: 16px; // small containers and buttons
@padding-sm: 12px; // Form controls and items
@padding-xs: 8px; // small items
@padding-xss: 4px; // more small

// vertical margins
@margin-lg: 24px; // containers
@margin-md: 16px; // small containers and buttons
@margin-sm: 12px; // Form controls and items
@margin-xs: 8px; // small items
@margin-xss: 4px; // more small

// height rules
@height-base: 32px;
@height-lg: 40px;
@height-sm: 24px;

// LINK
@link-color: @gray;
@link-hover-color: @black;
@link-active-color: @black;

// Menu
// ---
@menu-inline-toplevel-item-height: 40px;
@menu-item-height: 40px;
@menu-item-vertical-margin: 0;
@menu-item-color: @gray;


@menu-item-group-height: @line-height-base;
@menu-collapsed-width: 80px;
@menu-bg: @component-background;
@menu-popup-bg: @component-background;
@menu-inline-submenu-bg: @background-color-light;
@menu-highlight-color: @primary-color;
@menu-highlight-danger-color: @error-color;
@menu-item-active-bg: @primary-1;
@menu-item-active-danger-bg: @red-1;
@menu-item-active-border-width: 3px;
@menu-item-group-title-color: @text-color-secondary;
@menu-item-boundary-margin: 8px;
@menu-item-padding-horizontal: 20px;
@menu-item-padding: 0 @menu-item-padding-horizontal;
@menu-horizontal-line-height: 1.2;
@menu-icon-margin-right: 10px;
@menu-icon-size: @menu-item-font-size;
@menu-icon-size-lg: @font-size-lg;
@menu-item-group-title-font-size: @menu-item-font-size;

// Carousel
// ---
@dot-square: 14px;
@carousel-dot-width: @dot-square;
@carousel-dot-height: @dot-square;
@carousel-dot-active-width: @dot-square;

// Card
// ---
@card-head-color: @heading-color;
@card-head-background: transparent;
@card-head-font-size: @font-size-lg;
@card-head-font-size-sm: @font-size-base;
@card-head-padding: 16px;
@card-head-padding-sm: (@card-head-padding / 2);
@card-head-height: 48px;
@card-head-height-sm: 36px;
@card-inner-head-padding: 12px;
@card-padding-base: 24px;
@card-padding-base-sm: (@card-padding-base / 2);
@card-actions-background: @white;
@card-background: @white;
@card-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
@card-radius: 0;
@card-head-extra-color: @text-color;

// Typography
// ---
@typography-title-font-weight: 300;
@typography-title-margin-top: 0;
@typography-title-margin-bottom: 0;
