// Base
@font-size-base: 16px;
@line-height-base: 20px;
@base-font: "Roboto", Arial, Helvetica, sans-serif;

@container-width: 1150px;

// Breakpoints
@tablet-landscape: 1279px;
@tablet: 1023px;
@tablet-small: 991px;
@tablet-portrait: 768px;
@mobile: 767px;
@small-mobile-landscape: 479px;
@small-mobile: 320px;